<% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
<% end %>

<a href="#">new article</a>

<form action="post">
  <input type="text" id="Title" />
  <input type="text" id="Content" />
  <button type="submit" value="Create Article" />Create Article</button>
</form>
